menu "switch_led Configuration"
	config LED1_GPIO
		int "LED1 GPIO"
		default 4
		help
			GPIO LED1 is connected to. In the book it is 4, the book development board uses 0
	config LED2_GPIO
		int "LED2 GPIO"
		default 5
		help
			GPIO LED2 is connected to. In the book it is 5, the book development board uses 1
			 
	choice MULTIPLEX_METHOD
	    prompt "Type of access for pin multiplexing"
	    default MULTIPLEX_BY_BITMASKING
	    help
	        Select the type of access for pin multiplexing:
	        Use bit masking or use a bitfield
	    config MULTIPLEX_BY_BITMASKING
	        bool "Set Multiplexing by Bitmasking"
	    config MULTIPLEX_WITH_BITFIELD
	        bool "Set Multiplexing with a Bitfield"
    endchoice
endmenu
